<tr>
  <td class="text-center py-auto">#</td>
  <td>
    <%= link_to list_tasks_teachers_test_path(id: _test.id) do %>
      <%= _test.title %>
    <% end %>
  </td>
  <td><%= subject %></td>
  <td><%= _test.description %></td>
  <td><%= _test.start_time.strftime Settings.test.datime_format %></td>
  <td><%= _test.due_time.strftime Settings.test.datime_format %></td>
  <td><%= _test.doing_time %> phút</td>
  <td><%= _test.chapter_name %></td>
  <td><%= _test.mark_name %></td>
  <td><%= _test.created_at.strftime Settings.test.datime_format %></td>

  <td class="td-actions text-right">
    <%= link_to send_test_teachers_test_path(id: _test.id), "data-toggle": "tooltip",
      "data-placement": "bottom", title: "Chia sẻ đề thi",
      class: "btn btn-fab btn-round btn-sm btn-success" do %>
      <i class="material-icons">share</i>
    <% end %>
    <button type="button" rel="tooltip" class="btn btn-fab btn-round btn-sm btn-info">
      <i class="material-icons">insert_link</i>
    </button>
  </td>
</tr>
