<div class="navbar-collapse">
  <div class="form-inline">
    <%= form_tag "#", method: "get", class: "form-group bmd-form-group" do %>
      <%= text_field_tag :test_attribute, nil, class: "form-control input-lg", placeholder: "Search" %>
      <%= button_tag type: "submit", class: "btn btn-white btn-raised btn-fab btn-round" do %>
        <i class="material-icons">search</i>
      <% end %>
    <% end %>
    <div class="form-group bmd-form-group ml-auto">
      <%= link_to new_teachers_draft_test_path, class: "btn btn-success btn-fab btn-round",
        "data-toggle": "tooltip", "data-placement": "right", title: "Tao de moi",
        "data-container": "body", "data-original-title": "Tao de moi" do %>
        <i class="material-icons">post_add</i>
      <% end %>
    </div>
  </div>
</div>
<div class="gutter-ys">
  <ul class="nav nav-pills nav-pills-primary px-0 pb-2 border-bottom" role="tablist">
    <!--
        color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
    -->
    <li class="nav-item">
      <a class="nav-link active" href="#dashboard-1" role="tab" data-toggle="tab">
        De da tao
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#schedule-1" role="tab" data-toggle="tab">
        De nhap
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#tasks-1" role="tab" data-toggle="tab">
        De duoc chia se
      </a>
    </li>
  </ul>
  <div class="tab-content tab-space">
    <div class="tab-pane active" id="dashboard-1">
      <%= render partial: "teachers/draft_tests/created_test" %>
    </div>
    <div class="tab-pane" id="schedule-1">
      De nhap
    </div>
    <div class="tab-pane" id="tasks-1">
      De duoc chia se
    </div>
  </div>
</div>
