<%= form_for @task, url: teachers_draft_test_path do |f| %>
  <div class="row">
    <div class="col-md-3 px-1">
      <div class="card">
        <div class="card-body">
          <div class="form-group">
            <% if @task.test_unlimited_flag %>
              <span class="text-mute">Không giới hạn thời gian</span>
            <% else %>
              <button class="btn btn-round btn-white text-primary">
                <i class="material-icons">schedule</i>
                <span class="display-timer"></span>
              </button>
            <% end %>
          </div>
          <div class="row">
            <div class="col-md-4 px-1">
              <div class="card my-2 cursor-pointer">
                <div class="text-center m-2">
                  Câu 1
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col pl-1">
      <div class="card">
        <div class="card-body">
          <h3 class="text-center"><%= @task.test_title %></h3>
          <p class="text-center"><%= @task.test_description %></p>
          <div class="form-group text-center">
            <p>Ngày mở đề: <%= l @task.test_start_time, format: :default %></p>
            <p>Hạn nộp bài: <%= l @task.test_due_time, format: :default %></p>
            <p>Đề thi gồm:
              <%= "#{@task.count_multiple_choice} câu trắc nghiệm" %>;
              <%= "#{@task.count_essay} câu tự luận" %>
            </p>
          </div>
          <div class="border-bottom border-sidebar my-4"></div>
          <div class="form-group">
            <% unless @task.count_multiple_choice.eql? 0 %>
              <h3 class="text-mute">Phần 1: Trắc nghiệm</h3>
            <% end %>
            <% multiple_index = 0 %>
            <% @task.answers.each do |question| %>
              <% if question["question_type"].eql? Settings.question.type.multiple_choice %>
                <% multiple_index = multiple_index + 1 %>
                <h4>Câu <%= multiple_index %>: <%= question["content"] %></h4>
                <%= hidden_field_tag 'task[student_answers][][question_id]', question['id'] %>
                <div class="ml-3">
                  <% question["answers"].each do |ans| %>
                    <div class="form-check">
                      <label class="form-check-label">
                        <%= check_box_tag 'task[student_answers][][check]', true, nil,
                          class: "form-check-input" %>
                        <%= hidden_field_tag 'task[student_answers][][answer_ids][]', ans["id"] %>
                        <%= ans["content"] %>
                        <span class="form-check-sign">
                            <span class="check"></span>
                        </span>
                      </label>
                    </div>
                  <% end %>
                </div>
              <% end %>
            <% end %>
            <% unless @task.count_essay.eql? 0 %>
              <h3 class="text-mute">Phần 2: Tự luận</h3>
              <% essay_index = 0 %>
              <% @task.answers.each do |question, index| %>
                <% if question["question_type"].eql? Settings.question.type.essay %>
                  <% essay_index = essay_index + 1 %>
                  <h4>Câu <%= essay_index %>: <%= question["content"] %></h4>
                  <%= hidden_field_tag 'task[student_answers][][question_id]', question['id'] %>
                  <%= text_area_tag 'task[student_answers][][text_answer]',nil, class: "form-control" %>
                <% end %>
              <% end %>
            <% end %>
          </div>
          <div class="border-bottom border-sidebar my-4"></div>
          <div class="form-group text-center">
            <%= submit_tag "Nộp bài", class: "btn btn-success btn-round", data: { confirm: "Bạn chắc chắn nộp bài?" } %>
          </div>
        </div>
      </div>
    </div>
  </div>
<script>
  var intervalTimer = null;

  $(function(){
    <% unless @task.test_unlimited_flag %>
      let doing_time = parseInt("<%= @task.test_doing_time %>")*60;
      intervalTimer = startTimer(doing_time);
    <% end %>
  })

  function startTimer(duration) {
    setInterval(function () {
      minutes = parseInt(duration / 60, 10);
      seconds = parseInt(duration % 60, 10);

      minutes = minutes < 10 ? "0" + minutes : minutes;
      seconds = seconds < 10 ? "0" + seconds : seconds;

      $('.display-timer').html(`${minutes}: ${seconds}`);
      if(minutes <= 1 && !$('.display-timer').hasClass('text-danger')) {
        $('.display-timer').addClass('text-danger');
      }

      if (--duration < 0) {
        stopTimmer();
        autoSubmit();
      }
    }, 1000);
  }

  function stopTimmer() {
    clearInterval(intervalTimer);
  }

  function autoSubmit() {

  }
</script>
<% end %>
