<div class="row">
  <div class="col-lg-4 col-md-6 ml-auto mr-auto">
    <div class="card card-login">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>

        <div class="card-header card-header-primary text-center">
          <div class="card-title">
            <%= render "users/shared/links" %>
          </div>
        </div>
        <h3 class="description text-center">Forgot password</h3>
        <div class="card-body">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="material-icons">local_post_office</i>
              </span>
            </div>
            <%= f.email_field :email, class: "form-control",
              placeholder: "Your email", autofocus: true, autocomplete: "email" %>
          </div>
        </div>
        <div class="footer text-center">
          <%= f.submit "Send to email", class: "btn btn-primary btn-link btn-wd btn-lg" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
