<!DOCTYPE html>
<html>
  <head>
    <title>Exam Preparation Furnace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="index-page sidebar-collapse">
    <%= render partial: "shared_example/headers" %>
    <div class="section section-basic">
      <div class="container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
