<!DOCTYPE html>
<html>
  <head>
    <title>ExamPreparationFurnace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "English", locale:"en" %>
    <%= link_to "Vietnamese", locale:"vi" %>
    <%= render partial: "shared_example/flash_message" %>
    <%= yield %>
  </body>
</html>
