<!DOCTYPE html>
<html>
  <head>
    <title>Exam Preparation Furnace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= favicon_link_tag 'logo-uet.ico' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag Ckeditor.cdn_url %>
    <script src="https://wiris.net/demo/plugins/app/WIRISplugins.js?viewer=image"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </head>

  <body class="index-page sidebar-wrapper bg-white">
    <%= render partial: "shared_example/headers" %>
    <%= custom_bootstrap_flash %>
    <div class="main">
      <div class="row mx-0">
        <%= render partial: "teachers/sidebar" %>
        <div class="col">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
